.banner{
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  color: white;
  padding: 120px 0;
}
.banner h1 {
  text-align: center;
  font-size: 45px;
  font-family: 'Roboto Slab';
}
.banner p {
  text-align: center;
  font-size: 25px;
  font-family: 'Roboto Slab';
}
.card {
  width: 700px;
  margin: 50px auto;
  padding: 15px;
}
.card p {
  font-family: 'Lora';
  color: #5A5A5E;
  font-size: 20px;
}
.card h2 {
  color: #A1A1A5;
  font-family: 'Lora';
  letter-spacing: 1px;
  font-size: 28px;
}
.link {
  text-decoration: none;
  color: #5A5A5E;
  font-size: 29px;
  font-family: 'Lora';
  background: #D0D0B4;
  opacity: 0.3;
}
.link:hover {
  background-color: #A9A975;
}
@media(max-width: 992px) {
  .card {
    width: 700px;
  }
}
